.card-detail{
  margin-top: 100px;
}

.card-detail .loader{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.card-detail .loader .sk-spinner{
  display: inline-block;
}

.card-detail .loader h3{
  font-weight: bold;
}


.card-detail .card-sheet .card-data{
  margin-top: 70px;
  text-align: left;
}
.card-detail .card-sheet .card-data ul > li{
  margin: 5px 0 0 0;
}

.card-detail .card-sheet .card-data ul > li strong{
  width: 100px;
  display: inline-block;
}
