ul.breadcrumbs{
  text-align: left;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

ul.breadcrumbs > li{
  margin: 5px 5px 5px 0;
}

ul.breadcrumbs > li > a.active{
  font-weight: bold;
}

ul.breadcrumbs > li::after{
  content: '•';
  margin-left: 10px;
}

ul.breadcrumbs > li:last-child::after{
  content: '';
  margin-left: 0;
}
