.multi-image{

}
.multi-image ul.image-selector {
  text-align: right;
  margin-right: 40px;
}

.multi-image ul.image-selector li > a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #000;
  text-decoration: none;
  cursor: pointer;
}
.multi-image ul.image-selector li > a:hover, .multi-image ul.image-selector li > a:active{
  text-decoration: none;
}

.multi-image ul.image-selector li > a.active{
  border: 2px solid red;
}

.multi-image ul.image-selector li > a.basic{
  background-color: gray;
}

.multi-image ul.image-selector li > a.golden{
  background-color: yellow;
}
